.svg{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 260px;
}
#nani {
    width: 700px;
    position: absolute;
    /* position: fixed; */
    z-index: 1;
    display: block;
    left: 50%;
    top: -6px;
    transform: translate(-50%, 0);
}
#nani path{
    z-index:2;
    stroke: #aed3de; 
    stroke-width:0.5px; 
    stroke-dasharray: 0 250; 
    stroke-opacity: 1;
    fill-opacity:0; 
    animation: stroke_offset2 2s ease-in-out forwards; 
}




@keyframes stroke_offset2 { 
    0% {
            
        }50%{
            fill-opacity: 0;
            stroke-dasharray:250 0 ;
        } 80% {
            fill-opacity: 1 
        } 100% {
            fill-opacity: 1
        } 
} 

.nani_txt{
    display: inline-block;
   
    position: absolute;
    top: 65%;
    left: 20.5%;
    z-index: 1;

   
}
.bar{
    color: #fff;
    font-size: 45px;

}

#texts{
    font-size: 55px;
    color: #fff;
    font-weight: bold;
    font-family: roboto;
}
